body {
    background-color: black;
}

header {
    position: fixed;
    display: flex;
    background: firebrick;
    width: 100%;
    top: 0;
    left: 0;
    height: 58px;
    color: white;
    
}
header .links {
    position: relative;
    float: right;
}
header .siteTitle {
    width: 80%;
}

header .links div{
    background-color: darkgrey;
    width: 200px;
    height: 18px;
    text-align: center;
    padding-top: auto;
    padding-bottom: auto;
    margin: auto;
    padding: 20px;
}
header .links div:hover {
    background-color: slategray;
}
.maps_diolog{
    background-color: darkgrey; 

}
.maps_diolog .maps_row {
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly
}

.maps_diolog .maps_row div {
    width: 200px;
}

.maps_diolog .maps_row #newMap{
    text-align: center;
    padding-top: 4%;
    border: 1px solid darkslategrey;
    cursor: pointer;
}

.maps_diolog .maps_row .MapListItem {
    /* border: 1px solid red; */
    text-align: center;
    padding: 1px

}

.mapSingle .tools{
    background-color: firebrick;
    border: firebrick solid 1px;
    border-top: none;
    border-left: none;
    width: 250px;
    padding: 5px;
    position: fixed;
    top: 58px;
    left: 0px;
    /* opacity: 40%; */
}
/* .mapSingle .tools:hover{
    opacity: 100%;
} */

.mapSingle .tools input {
    background-color: darkslategray;
    color: wheat;
}

.mapSingle img {
    width: 100%;
}

.audio {
    border: 1px solid firebrick;
    border-top: none;
    border-right: none;
    background-color: darkslategray;
    width: 255px;
    position: fixed;
    right: 0px;
    top: 58px;
    opacity: 40%;
}
.audio:hover {
    opacity: 100%;
}

.AssertToken{
    background-color: firebrick;
    width: 100pt;
    padding: 5px;
    overflow: auto;
    position: fixed;
    top: 73%;
    left: 0;
}
.AssertToken:hover{
    width: 500pt;
}

.AssertToken:hover .asset{
    display: inline;
}

.AssertToken .title {
    color: wheat;
    font-size: larger;
    padding: 5px;
}

.AssertToken .tray {
    background-color: darkred;
    display: flex;
    height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.AssertToken .asset {
    margin: 1px;
    border: solid white 1px;
    display: block;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: darkorchid;
    display: none;
}

.daggabletoken{
    height: 0px;
}
.daggabletoken img{
    width: 75px;
}