.mapSingle .tools {
    background-color:#b22222;
    border:#b22222 solid 1px;
    border-top:none;
    border-left:none;
    width:250px;
    padding:5px;
    position:fixed;
    top:58px;
    left:0;

    .tools input {
        background-color:#2f4f4f;
        color:#f5deb3;
    }

    .maps img {
        width:100%;
        padding-top: 53px;
    }

    .audio {
        border:1px solid #b22222;
        border-top:none;
        border-right:none;
        background-color:#2f4f4f;
        width:125px;
        position:fixed;
        right:0;
        top:58px;
        opacity:40%;

        &:hover {
            opacity:100%;
        }
    }

    .AssertToken {
        background-color:#b22222;
        width:100pt;
        padding:5px;
        overflow:auto;
        position:fixed;
        top:73%;
        left:0;

        &:hover {
            width: 500px;

            .asset {
                display: inline;
            }
        }

        .title {
            color:#f5deb3;
            font-size:larger;
            padding:5px;
        }

        .tray {
            background-color:#8b0000;
            display:flex;
            height:100px;
            padding:10px;
        }

        .asset {
            margin:1px;
            border:solid #fff 1px;
            display:block;
            width:100px;
            height:100px;
            background-repeat:no-repeat;
            background-size:contain;
            background-color:#9932cc;
            display:none;
        }
        
        .daggabletoken {
            height: 0;

            img {
                width: 75px;
            }

            .tools {
                width: 75px;
                display:none;
                text-align:center;
            }

            &:hover .tools{
                display: block;
            }

        }

    }
}