.userlogin {

	background-color: darkslateblue;
	color: wheat;
	position: relative;
	top: 100px;

	.inner {
		padding: 15px;
		.pword {
			border-bottom: 1px solid slategrey
		}
	}

	label {
		display: inline-block;
		width: 100px;
	}
	input {
		background-color: slategrey;
		border: darkslategray solid 1px;
		color: wheat;
		padding: 7px
	}
	input[data-error=true] {
		background-color: #809070;
		
	}
	.btns {
		margin-top: 10px;
	}

	button {
		margin: 5px;
		background-color: slategray;
		color: wheat;
		border: none;
		padding: 10px;
		border: grey 1px solid;
		&:hover{
			background-color: darkslategray;
		}
	}
}
